$main: rgb(136, 24, 46);
$contentBackground: #ccc;
$contentShadow: rgba(71, 24, 24, 0.507);

$buttonBackground: #fff;
$buttonColor: teal;

$heading: rgb(50, 86, 128);

$success: rgb(25, 129, 25);
$warning: rgb(187, 18, 18);
